body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* BARRE BLANCHE EN HAUT */
nav {
    background: white !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 10px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;

    /* taille plus grande */
    min-height: 80px;

    /* police plus jolie */
    font-family: "Georgia", serif;
}

/* LOGO / NOM */
.brand {
    font-size: 13px;
    color: #f3b6c8;
    font-weight: normal;
    max-width: 20px;
}

/* LIENS */
nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 10px;
    font-weight: 500;
}

nav a:hover {
    color: #f3b6c8;
}
/* BLOCS DE TEXTE (IMPORTANT) */
.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

/* CHAQUE BLOC BLANC */
.card {
    background: rgba(255,255,255,0.95);
    padding: 20px;
    margin: 15px 0;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* BOUTON */
.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #e91e63;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover {
    opacity: 0.9;
}
