body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* MENU */
nav {
    background: rgba(255,255,255,0.95);
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #c48b9f;
}

/* CONTENU */
.container {
    background: rgba(255,255,255,0.85);
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
}

/* PRESTATIONS */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}
